# Application ID can be found on the https://www.algolia.com/account/api-keys/all page.
ALGOLIA_APP_ID
# Application Searhc Key can be found on the https://www.algolia.com/account/api-keys/all page.
ALGOLIA_API_KEY
# index for the products section
ALGOLIA_INDEX_NAME
