* {
  box-sizing: border-box;
}

/* Header */
.header {
  display: flex;
  width: 100%;
  background: #252321;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  min-height: 50px;
  max-width: 1200px;
}

.header__logo-container {
  min-width: 150px;
}

.header__logo svg {
  fill: white;
}

.header__searchbox-container {
  height: 32px;
  flex-grow: 1;
  margin-left: 5%;
}

.header__searchbox input {
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 8px 26px;
}

.header__searchbox input:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

/* Autocomplete */
.autocomplete {
  /* display: none; */
}

.autocomplete_conatiner {
  display: flex;
  width: 100%;
}

/*Results*/
.results {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}
